.reveal {
  font-size: 32px;
  font-family: 'Calibri', 'sans-serif'; }

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: 'Calibri', 'sans-serif';
  font-weight:normal;
  text-transform: none;
  text-shadow: none; }

.reveal h1,.reveal h2,.reveal h3 {
  color:#0086C5;
 }



body {
  background-image: url('logo.png');
  background-repeat: no-repeat;
  background-position-y: 98%;
  background-position-x: 2%;
  background-size: auto 5%;
  }


ul,.reveal ul {
  list-style: none;
}

ul li::before {
  content: ">";
  color: #B1C800;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
